# --- Entornos virtuales de Python ---
.venv/
venv/
env/

# Cachés de Python (por si algún meto scripts .py)
__pycache__/
*.py[cod]
*.pyo

# Node (por si en el futuro usar bundlers)
node_modules/

# Archivos de sistema
.DS_Store
Thumbs.db

# Config de IDEs (opcionales; si quiero compartir settings, los quito)
.vscode/
.idea/
